body{
    background-color: #F3F1FF;
}
main{
    max-width: 870px;
}
.top-player{
    background-color: white;
    border-radius: 5px;
}
.navbar img{
    width: 40px;
}
.player img{
    width: 56px;
}