body{
    background-color: #F3F1FF;
    font-family: 'Poppins';
}
.nav-content{
    max-width: 900px;
}
.nav-content h5{
    display: inline;
    padding-left: 10px;
}
main{
    max-width: 870px;
}
.top-player{
    background-color: white;
    border-radius: 5px;
}
h4{
    color: #0275d8;
}
.player p{
    font-weight: 600;
    font-size: 17px;
    line-height: 27px;
}
.navbar img{
    width: 40px;
}
.player img{
    width: 56px;
}
.top-blogs img{
    width: 177px;
    height: 117px;
}
.blog-name {
    font-size: 18px;
    font-weight: 600;
}
.course-name{
    font-size: 18px;
    font-weight: 600;
}
.author{
    font-size: 16px;
    font-weight: 400;
}
.course-author{
    font-size: 15px;
    font-weight: 400;
    color: red;
}
.stars img{
    width: 14px;
    height: 12px;
}
.duration img{
    width: 20px;
    height: 20px;
}
.duration p{
    display: inline;
    color: red;
}
.duration{
    background-color: #FFE4E8;
    border-radius: 15px;
    padding: 2px 10px;
}
.stars p{
    display: inline;
    font-size: 14px;
    color: #A2A2A2;
}